*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
body{
    background-color: black;
    overflow-x: hidden;
}
header{
    position: relative;
    z-index: 10;
}
.hero{
    position: relative;
    min-height: 100vh;
    background-image: url("netflixbg.jpg");
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 0;
    background:
        radial-gradient(
            circle at 10% 10%, 
            rgba(0,0,0,0.8),  
            rgba(0,0,0,0) 60%),
        rgba(0,0,0,0.65);
}

.netflixheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem 2rem 5rem;

    margin: 0 auto;
    background-color: transparent;
}
.logo{
    width: clamp(90px, 12vw, 160px);
    height: auto;
    aspect-ratio: 3 / 0.8;
    background-image: url(netflixlogo.svg);
    background-size: cover;

}

select{
    height: 2rem;
    width: 8rem;
    background-color: transparent;
    color: white;
    outline: 0.002cm;
    border-radius: 5px; 
    font-weight: 600;  
}
option{
    color: black;
}
#signinbutton{
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 8px; 
}

.maincontent{
    position: relative;
    width: 100vw;
    height: 20rem;
    margin: 6rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: transparent;
}
.maincontenthead{
    position: relative;
    z-index: z;
    width: 32rem;
    height: 7rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-align: center;
    margin: 0 27vw 0 27vw; 
}
.maincontentsubhead{        
    position: relative;
    z-index: z;
    margin: 0 34.5vw;
    color: white;
    font-size: 1.3rem;
}
.maincontentsubhead2{
    position: relative;
    z-index: z;
    margin: 1.5rem 21rem;
    color: rgb(227, 227, 227);
}
.emailinput{
    display: flex;
    height: 3rem;
    color: white;
    margin: 0 18rem;
}
.emailinput input{
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(118, 117, 117);
    width: 30rem;
    height: 3.5rem;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;

}
::placeholder{
    color: rgb(118, 117, 117);
}
.getstarted{
    background-color: red;
    margin-left: 8px;
    outline: none;
    width: 15rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
}
.curve{
    position: relative;
    height: 1px;
    background: black;
    overflow: hidden;
}
.red-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,
        #e50914,
        transparent
    );
}
@media (max-width: 768px) {
    .curve{
        height: 100px;
    }
}
